<!DOCTYPE html>
<html>
  <head>
    <title>Toko Online</title>

    <meta charset="utf-8">
    <meta name="description" content="Belanja produk pilihan dengan mudah di Toko Online.">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico">

    <!-- OpenGraph Meta (SEO & Social) -->
    <meta property="og:title" content="Toko Online">
    <meta property="og:description" content="Belanja produk pilihan dengan mudah di Toko Online.">
    <meta property="og:image" content="/icons/favicon-128x128.png">
    <meta property="og:url" content="https://toko-online.netlify.app">
    <meta name="twitter:card" content="summary_large_image">
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
